<!DOCTYPE html>
<html>
  <head>
    <title>VisionAPI</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>VisionAPIテスト</h1>
    <form action="post">
      <input type="file" name="" id="">
    </form>
  </body>
</html>
