<!DOCTYPE html>
<html>
  <head>
    <title>VisionAPI</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>結果</h1>
    <textarea cols="30" rows="10"><%= result %></textarea>
  </body>
</html>
